
<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
<h1>About Us</h1>
<p> Feel free to know more about how can you be more social<a href="#">Explore</a></p>
	
</body>
</html>