
<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
<h1>Help</h1>
<p> We're happy to help you!</p>
<p>Click here to get the help <a href="#">Get Help</a></p>
	
</body>
</html>